@use "../custom" as *;

.navbar {
  padding-top: 42px;
  min-height: 25px;
}
.navbar-nav {
  .nav-link {
    gap: 32px;
    color: $grey !important;
    padding-top: 16px;
    &:hover,
    &:active {
      color: $secondary;
    }
  }
}

.navbar-toggler-icon {
  display: inline;
}
.navbar-brand {
  max-width: 50%;
  img {
    width: 100%;
  }
}
.mobile-nav-container {
  position: relative;

  .mobile-nav {
    display: none;
    position: absolute;
    top: 58px;
    left: 0;
    background-color: blue;
    width: 100%;
    min-height: 510px;
    background: linear-gradient(
      180deg,
      $white 0%,
      $white 55%,
      rgba(254, 252, 247, 0.504981) 100%
    );
    ul {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      margin-top: 40px;
      a {
        color: $black !important;
      }
    }
    @include media-breakpoint-up(md) {
      display: none !important;
    }
  }
}
