@use "../custom" as *;

.btns {
  min-width: 217px;
  height: 56px;
  padding: 15px 32px 16px;
  background-color: $primary;
  border-radius: 6px;
  font-weight: 900;
  font-size: 18px;
  border: none;
  text-decoration: none;
  &:disabled {
    color: $light-cream;
    background-color: $light-grey;
    pointer-events: none;
  }
}
.btn--default {
  color: $light-cream;
  background-color: $primary;
  &:hover {
    background-color: #66d2cf;
  }
}
